<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iCoachTennis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.min.js"></script>
</head>
<body ng-app="icoachtennis">
<p th:text="'Hello, ' + ${name} + '!'" />

<div ng-controller="HelloController" >
    <h2>Welcome {{helloTo.title}} to the world of icoachtennis!</h2>
</div>
<script>
    angular.module("icoachtennis", [])
            .controller("HelloController", function($scope) {
                $scope.helloTo = {};
                $scope.helloTo.title = "AngularJS";
            });
</script>
</body>
</html>