<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iCoachTennis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<p>Roster</p>
<!--<ol>-->
    <!--<li ng-repeat="player in players">-->
        <!--{{ 'Name: ' + player.fullName() + ', Grade: ' + player.grade }}-->
    <!--</li>-->
<!--</ol>-->
<div ng-app="" ng-controller="playerController">
Enter first name: <input type="text" ng-model="player.firstName"/><br/><br/>
Enter last name: <input type="text" ng-model="player.lastName"/><br/>

{{ player.fullName() }}
</div>
<script>
    function playerController($scope) {
        $scope.player = {
            firstName: "Norbert",
            lastName: "Kuchenmeister",
            fullName: function() {
                var playerObject;
                playerObject = $scope.player;
                return playerObject.firstName + " " + playerObject.lastName;
            }
        };
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.js"></script>
</body>
</html>